/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: "Yummo";
    src: url('../fonts/Yummo/Yummo_Regular.otf');
}

body {
    background-color: #222;
    font-family: Raleway;
}
.wrapper {
    width: 80%;
    margin: auto;
}
h1, h2, h3, nav a {
    font-family: Yummo;
}
h2, h3 {
    padding: 15px 15px 15px 0;
}
h2 {
    font-size: 30px;
    color: #1381a2;
}

h3 {
    font-size: 24px;
    color: #e75367
}

h1, p {
    color: #fff;
}
p {
    font-size: 18px;
    line-height: 22px;
}
/* Images Border Radius */
#Teachers img, .price > div, #Gallery img, #googleMap {
    border-radius: 4px;
    }

/* Left Margins */
#Teachers h2, #Prices h2, #Classes h2, #Gallery h2, #Contact h2  {
    margin-left: 5%;
}

/* Skewed Backgrounds */
.skew {
    -ms-transform: skewY(5deg); /* IE 9 */
    -webkit-transform: skewY(5deg); /* Safari */
    transform: skewY(5deg); /* Standard syntax */
  
    
}
#About img, .aboutUs, #Teachers h2, #Teachers h3,  #Teachers p, #Prices h2, #Prices p, #Prices .Sign {
   -ms-transform: skewY(-5deg); /* IE 9 */
   -webkit-transform: skewY(-5deg); /* Safari */
   transform: skewY(-5deg); /* Standard syntax */
}



/* Homepage */

/* Navigation Bar */


nav ul {
   display: flex;
   transition: max-height 1s;
}

.logo {
    height: 150px;
    padding-top: 15px;
    display: inline-block;
    float: left;
}

nav li {
    flex:1;
    text-align: center;
    position: relative;
}

nav li a {
    line-height: 120px;
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-size: 22px;
}

nav ul li a:before {
    content:"";
    display: block;
    height: 2px;
    background-color: #ff6e83;
    position: absolute;
    top: 75px;
    width: 0%;
    transition: all ease-in-out 300ms;
}
nav a:hover:before {
    width: 100%;  
}

nav ul li a:hover {
  color: #ff6e83;
  }

.menu-icon {
    width: 100%;
    background-color: #e8e9eb;
    text-align: right;
    padding: 30px 15px;
    cursor: pointer;
    height: 80px;
    display: none;
    border-bottom:#dddddd 1px solid;
}


/* Side Navigation Bar */
#mySidenav {
    position: fixed;
    z-index: 5;
    right: 50px;
}
#mySidenav a {
    position: absolute;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}


#mySidenav a:nth-child(1) {
    top: 60px;
}
#mySidenav a:nth-child(2) {
    top: 120px;
    
}
#mySidenav a:nth-child(3){
    top: 180px;
    
}
#mySidenav a:nth-child(4) {
    top: 240px;
    
}
#mySidenav a:nth-child(5) {
    top: 300px;
    
}
#mySidenav a:nth-child(6) {
    top: 360px;
    
}
#mySidenav a:nth-child(7) {
    top: 420px;
}

#mySidenav * {
    position: relative;
    display: inline-block;
}

#mySidenav * span {
    visibility: hidden;
    width: 100px;
    background-color: #8999A8;
    opacity: 0.97;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    top: -5px;
    right: 105%;
}

#mySidenav *:hover span {
    visibility: visible;
}






/* Header */
header {
    background-image: url(../images/Moutains-At-Om.jpg);
    background-size: cover;
}

h1 {
    font-size: 40px;
    margin-bottom: 140px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

 #main {
     display: flex;
     align-items: flex-end;
     height: 700px;
     width: 90%;
     margin: auto;
}

#main ul{
    display: flex;
    margin-bottom: 40px;
}   

#main .Sign {
    margin: 10px 10px 50px 10px;
}

#main .social img {
    height: 60px;
    padding: 5px;
    margin: 10px 10px 60px 10px;
}

.flex {
    flex-direction:column;
    width: 100%;
    align-items: center;
    display: flex;
}

/* Tablet */  
@media screen and (max-width: 768px) {

.logo {
     height: 90px;
     padding: 10px;
    }

nav li a {
    line-height: 70px;
    font-size: 16px;
}
nav li {
        padding-bottom: 20px;
    }
#mySidenav {
    display: none;
    }

#myTopnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000000;
    background-color: #e8e9eb;
    opacity: 0.95;   
    }

    
h1 {
    font-size: 26px;
    padding:30px;
    margin-bottom: 60px;
      
} 
    #main .Sign {
    margin-bottom:60px;
}
    #main .social img {
    height: 60px;
    margin: 5px 10px 100px 10px;
    
}
    #main ul{
    display: flex;
    margin-bottom: 5px;
}  
    nav a:hover:before {
        display: none;
    } 
}

/* Mobile */

@media screen and (max-width: 480px) {
.logo {
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    }
    
nav {
    z-index:2; 
    width:100%; 
    background:#e8e9eb;  
    position:absolute; 
    right: 0;
    text-align:center; 
    font-size:12px;
    }

nav ul{
    display: flex;
    flex-direction: column;
    max-height: 0px;
    overflow: hidden;
    }
nav ul li a:hover {  
    color: #666; 
    text-decoration:none;
    }

nav li:hover {   
    background:#fff; 
    }

nav li {
     padding:15px 0 15px 0;
     border-bottom:#ddd 1px solid;
     }
nav li:last-child {
    border-bottom: none;
    } 

nav li a {
    line-height: 20px;
    font-size: 18px;
    }

.wrapper {
    width: 100%;
    }

.menu-icon {
    display: block;
    z-index: 100000;
    }
 
#main ul {
    display: flex;
    margin: 20px;
    }

#main {
    display: flex;
    min-height: 630px;
    flex-direction: column;
    margin-top: 0;
    } 
#main .social img {
    margin: 50px 15px; 
    }

h1 {
    margin: 170px 0 50px 0;
    font-size: 24px;
    padding: 15px;
    text-align: center; 
    } 
#main .Sign {
    margin:50px 0 20px 0;
    }

.showing {
    max-height: 27em;
    }  
}




/* About Us Page */
#About {
    min-height: 650px;
    background-color: #ff6e83;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    }
#About img {
    height:500px;
    border-radius: 50%;
    margin: 70px 100px 70px 0;
}
.aboutUs {
    padding:100px 0;
    width: 400px;
}
#About p, #About h2 {
    color: #222;
}


/* Tablet */  
@media screen and (max-width: 768px) {
#About {
    min-height: 500px;
    }
#About img {
    height: 320px;
    width: 320px;
    margin: 60px 20px 20px 10px;
    } 
.aboutUs {
    padding-top: 20px;
    width: 300px;
    }
}


/* Mobile */

@media screen and (max-width: 480px) {
#About {
    min-height: 850px;
    flex-direction: column;      
    }
  
#About img {
    height: 300px; 
    margin-top: 10px;
    }

#About img, .aboutUs {
    width: 300px;
    padding:20px;
    margin: auto;
    }
}






/* Teachers Page */
.teachers {
    min-height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }
#Teachers img, #Teachers p {
    width: 300px;   
    }

#Teachers p {
    padding: 20px;
    color: #8999a8;
}

#Teachers h3 {
    margin: 10px;
}
#Teachers h2 {
    padding: 50px 0 80px 0;
}

#Teachers {
    padding-bottom: 50px;
}

/* Tablet */  
@media screen and (max-width: 768px) {
#Teachers img, #Teachers p {
    width: 200px;   
}  
}

/* Mobile */

@media screen and (max-width: 480px) {
#Teachers h2 {
    padding-bottom: 50px;
}  
}



/* Prices Page */
#Prices h2 {
    margin-bottom: 90px;
}

#Prices {
    height: 550px;
    background-color: #ff9b99; 
}

#Prices p {
    color: #fff;
}
.price {
   display: flex;
   
}
.price > div {
    margin: auto;
    padding: 40px;
    /*border: 3px solid #ff6e83;*/
    text-align: center;
    width: 200px;
    
}
.price > div:hover {  
     -webkit-transform: scale(1.3);
     -ms-transform: scale(1.3);
     transform: scale(1.3);
}

strong {
    font-weight: 700;
}
.price div:nth-child(1) {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/Lotus-At-Om.jpg);
    background-size: cover;
   
}
.price div:nth-child(2) {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/Buddha-At-Om.jpg);
    background-size: cover;
}
.price div:nth-child(3) {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/Stones-At-Om.jpg);
    background-size: cover;
}

/* Sign Up Button */
.Sign {
    background-color: #1381a2;
    border-radius: 50px;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin: 80px 0 50px 40%;
    border: none;
}
.Sign:hover {
    background-color:#ffe803;
    color: black;
}


/* Tablet */  
@media screen and (max-width: 768px) {
 #Prices {
    height: 450px;
    }   
.price > div {
     margin: 20px;
     padding: 30px;
    }
    
#Prices h2 {
    margin-bottom: 20px;
}    
}

/* Mobile */
@media screen and (max-width: 480px) {
.price {
    display: flex;
    flex-direction: column; 
    align-items: center;
    }
#Prices {
    height: 800px;
    }
    
#Prices .Sign {
    margin-top: 30px;
}
}
   




/* Classes Page */
#Classes { 
    min-height: 500px;
}
#Classes h2 {
    padding: 50px 0 50px 0;
}
tr, td, th {
    border: 1px solid #fff;
    text-align: center;
    padding: 15px;
    color: #fff;
}

th {
    font-weight: bold;
}
.mobiletimetable {
    display: none;
}

table {
    margin: auto;
}




/* Tablet */ 
@media screen and (max-width: 768px) {
#Classes {
      min-height: 1400px;
}
#Classes h3 {
        margin-left: 5%;
    }
.computertimetable {
        display: none;
    }
  
.mobiletimetable {
    display: inline-block;
        
    }
.mobiletimetable h3 ~ div {
        display: flex;
        flex-wrap: wrap;   
    }
td, th {
    border: none;
    width: 120px;
    }
    
}
/* Mobile */

@media screen and (max-width: 480px) {
#Classes {
      min-height: 2300px;
}
}




/* Gallery Page */
#Gallery {
    background-color: #d7aeb2;
    padding: 50px 0;    
}
#Gallery .gallery-flex {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
}
#Gallery img {
    height: 220px;
    margin: 10px;
}



/* Tablet */ 
@media screen and (max-width: 768px) {
#Gallery img {
    height: 200px;
}  
    #Gallery .margin {
    margin-left: 0;
}
}




/* Contact Page */
#Contact {
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(../images/Contact-At-Om.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
      
}

#Contact ul{
    display: flex;
}

.media img {
    height: 50px;
    padding: 5px;
}

.flex-footer {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

#googleMap {
    width: 370px;
    height: 400px;
    margin: 20px;
}

p.copyright{
    text-align:center;
}

.contact-form input, .contact-form textarea {
    margin: 0 7px 7px 0;
    padding: 7px;
}
.contact-form, .card-wrapper, .sign-newsletter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



/* Tablet */ 
@media screen and (max-width: 768px) {
    
#Contact ul li {
    align-self: flex-start;
    margin-top: 10px;
    }
.wrapper{
    width: 100%;
    }
#Contact {
    height: 650px;
    }
.flex-footer {
    margin-left: 5%;
    }
}

/* Mobile */

@media screen and (max-width: 480px) {
.flex-footer {
    display: block;
    }
#Contact ul{
    flex-direction: row;
    
    }
    #Contact ul li {
    margin: auto;
    }
#Contact ul li:first-child {
    margin-left: 0;
    }
#googleMap {
    margin: 30px 5px 5px 0;
    width: 280px;
    height: 300px;
    }
#Contact {
    height: 1355px;
    }

}





/*Credit Card*/

#signUp, #signNewsletter {
    position: fixed;
    z-index: 10000; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-box, .sign-newsletter {
    width: 30%;
    margin: auto;
    background-color: #222;
    padding: 15px;
}
#signUp, .modal-box, #signNewsletter, .sign-newsletter {
    visibility:hidden;
}
#signUp h4, .sign-newsletter h4 {
    padding: 10px 10px 10px 0;
    color: #ff6e83;
    font-size:18px;
}
#signUp h2 {
    text-align: center;
    padding: 5px;
}

.card-details, input[type="radio"] {
   margin: 5px; 
}

.input-button {
    background-color: #ff3b77;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
}
.form-container {
    padding: 20px;
}

.radiobutton {
     padding: 10px;
}
.radiobutton, .close, .Newsletter {
     color: #fff;
}

select {
    margin: 10px;
    margin-left: 0;
}
.close, .Newsletter {
    background-color: #1381a2;
    border-radius: 50px;
    padding: 10px 25px;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    border:none;
}
.address .Newsletter {
    margin-left: 0;
}
.sign-newsletter {
    width: 25%;
    }
.sign-newsletter h2 {
    text-align: center;
}

#signUp.active, #signNewsletter.active, .modal-box.active, .sign-newsletter.active {
visibility:visible;
}


/* Tablet */  
@media screen and (max-width: 768px) {
.modal-box, .sign-newsletter {
        width: 50%;
    }
#signUp, #signNewsletter {
        padding-top: 120px;
}  
}

/* Mobile */

@media screen and (max-width: 480px) {
.modal-box, .sign-newsletter {
        width: 80%;
    }
}
