/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
    font-family: "Yummo";
    src: url('../fonts/Yummo/Yummo_Regular.otf');
}

body {
    background-color: #e8e9eb;
    font-family: Raleway;
}
.wrapper {
    width: 80%;
    margin:0 auto;
}
h1 {
    font-size: 40px;
padding-bottom: 250px;
}
h2, h3 {
    color: #128944;
    padding: 15px;
}
h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}
h1, h2, h3, nav a {
    font-family: Yummo;
}
h1, body, p {
    color: #24295f;
}
p {
    font-size: 18px;
    line-height: 22px;
}

/* Skewed Backgrounds */
.skew {
    -ms-transform: skewY(5deg); /* IE 9 */
    -webkit-transform: skewY(5deg); /* Safari */
    transform: skewY(5deg); /* Standard syntax */
}
#About img, .aboutUs, #Teachers h2, #Teachers h3,  #Teachers p, #Prices h2, #Prices p, #Prices .Sign {
   -ms-transform: skewY(-5deg); /* IE 9 */
    -webkit-transform: skewY(-5deg); /* Safari */
    transform: skewY(-5deg); /* Standard syntax */
}



/* Homepage */

/* Navigation Bar */


nav ul {
   display: flex;
    transition: max-height 1s;
    
}

.logo {
    height: 150px;
    padding-top: 15px;
    display: inline-block;
    float: left;
}

nav li {
    flex:1;
    text-align: center;
    position: relative;
}

nav li a {
    line-height: 120px;
    text-decoration: none;
    color: #128944;
    text-transform: uppercase;
    font-size: 22px;
}

nav ul li a:before {
    content:"";
    display: block;
    height: 2px;
    background-color: #24295f;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 300ms;
}
nav a:hover:before {
    width: 100%;
}



nav ul li a:hover {
  color: #1e6e38;
  }

.menu-icon {
    width: 100%;
    background-color: #e8e9eb;
    text-align: right;
    padding: 30px 15px;
    cursor: pointer;
    height: 80px;
    display: none;
    border-bottom:#dddddd 1px solid;
}


/* Side Navigation Bar */
#mySidenav {
    position: fixed;
    z-index: 5;
}
#mySidenav a {
    position: absolute;
    right: -130px;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#home {
    top: 40px;
}
#aboutus {
    top: 100px;
    
}
#teach {
    top: 160px;
    
}
#cost {
    top: 220px;
    
}
#times {
    top: 280px;
    
}
#photos {
    top: 340px;
    
}
#contactus {
    top: 400px;
}

/* Header */
 #main {
     display: flex;
     height: 680px;
     align-items: flex-end;
     width: 90%;
     margin: auto;
}
.computer {
    height: 650px;
    margin-bottom: 20px;
}

#main ul{
    display: flex;
    margin: 0 0 40px 80px;
}   


#main .social img {
    height: 60px;
    padding: 5px;
    margin: 10px;
    
}
.mobile {
    display: none;
}
.flex {
    flex-direction:column;
    display: flex;
}

/* Tablet */  
@media screen and (max-width: 768px) {

 .logo {
        height: 100px;
        padding: 10px;
    }

nav ul {
        display: flex;
    }
nav li a {
    line-height: 80px;
    font-size: 16px;
}
nav li {
        padding-bottom: 20px;
    }
#mySidenav {
    display: none;
    }

      .flex-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #e8e9eb;
          
       
    }
#main {
    height: 400px;
    width: 100%;
    margin-top: 150px;
    }
 #main .computer {
     height: 400px;
     margin: 0 0 20px 20px;
     
} 
  #main .mobile {
    display: none; 
    } 
    
h1 {
    font-size: 22px;
    padding:0 30px 150px 0;
      
} 
    #main .social img {
    height: 40px;
        margin: 2px;
    
}
    #main ul{
    display: flex;
    margin: 0 0 20px 30px;
}   
}

/* Mobile */

@media screen and (max-width: 480px) {
    .logo {
        height: 80px;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    nav {
    z-index:2; 
    width:100%; 
    background:#f1f1f1;  
    position:absolute; 
        right: 0;
    text-align:center; 
    font-size:12px;
    }


nav li:hover {   
    background:#ffffff; 
    padding:15px 0 15px 0; 
    border-bottom:#dddddd 1px solid;
    }

nav li a {
    line-height: 20px;
    font-size: 18px;
}
nav li {  
        padding:15px 0 15px 0; 
        border-bottom:#dddddd 1px solid;
        }
nav li:last-child {
    border-bottom: none;
}    
  
nav ul li a:hover {  
    color: #666; 
    text-decoration:none;
    }

    
nav a:hover:before {
        display: none;
    } 

nav ul{
      display: flex;
      flex-direction: column;
     max-height: 0px;
    overflow: hidden;
     
    }

    .wrapper {
    width: 100%;
}


.menu-icon {
    display: block;
    }
#mySidenav {
    display: none;
    }
#main ul {
        display: flex;
    }
    
 #main .computer {
    display:none;
} 

#main .mobile {
    display: inline;
      height: 300px;
      margin: 20px;
    }


#main {
     display: flex;
     min-height: 550px;
     flex-direction: column;
    margin-top: 0px;
    
} 
 #main .social img {
    height: 45px;
    margin: 15px; 
       
}
 #main ul{
    display: flex;
    margin: 20px 0 20px 40px;
} 
    h1 {
    margin-top: 120px;
    font-size: 22px;
    padding: 15px;
    text-align: center; 
        
} 

.showing {
        max-height: 27em;
    }  
    }





/* About Us Page */
#About {
    min-height: 700px;
    background-color: #24295f; 
    display: flex;
    margin: 100px 0 ;
}
#About img {
    height: 600px;
    border-radius: 50%;
    margin: 50px;
}
.aboutUs {
    padding-top:200px;
    width: 500px;
}
#About p {
    color: #e8e9eb;
}

/* Tablet */  
@media screen and (max-width: 768px) {
    #About {
    min-height: 500px;
}
#About img {
    height: 320px;
    width: 320px;
    margin: 60px 20px 20px 10px;
} 
    .aboutUs {
    padding-top: 40px;
    width: 400px;
}
    
}

/* Mobile */

@media screen and (max-width: 480px) {
    #About {
    min-height: 850px;
    flex-direction: column;
       
       
}
  
 #About img {
     height: 300px;
     width: 300px;
     padding: 20px;
      margin: 0 auto;
     margin-top: 10px;

    }
    .aboutUs {
    padding:20px;
    width: 300px;
        margin: 0 auto;
    }
}






/* Teachers Page */
.teachers {
    min-height: 1000px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
}
#Teachers img, #Teachers p {
    width: 300px;   
}
#Teachers p {
    padding: 20px;
}

#Teachers h3 {
    margin: 10px;
}
#Teachers h2 {
    padding-bottom: 80px;
}



/* Tablet */  
@media screen and (max-width: 768px) {
  #Teachers img, #Teachers p {
    width: 200px;   
}  
}
/* Mobile */

@media screen and (max-width: 480px) {
  #Teachers h2 {
    padding-bottom: 50px;
}  
}



/* Prices Page */
#Prices {
    height: 550px;
    background-color: #ece036
}
#Prices h2 {
    margin-bottom: 90px;
}
.price {
   display: flex;
   
}
#DropIn, #Monthly, #Yearly {
  
    margin: 0 auto;
    padding: 40px;
    border: 3px solid #24295f; 
    text-align: center;
    width: 200px;
    
}
#DropIn:hover, #Monthly:hover, #Yearly:hover {  
     -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}

strong {
    font-weight: bold;
}


/* Sign Up Button */
.Sign {
    background-color: #128944;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px;
    cursor: pointer;
}
.Sign:hover {
    opacity: 0.7;
}
#Prices .Sign {
    margin-top: 100px;
}

/* Tablet */  
@media screen and (max-width: 768px) {
    
 #DropIn, #Monthly, #Yearly {
     margin: 20px;
     padding: 30px;
    }
    #Prices h2 {
    margin-bottom: 20px;
}
    
}

/* Mobile */

@media screen and (max-width: 480px) {
    .price {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
   #Prices {
       height: 800px;
    }
    
    #Prices .Sign {
    margin-top: 30px;
}
}
   




/* Classes Page */
#Classes {
    
    min-height: 500px;
}
#Classes h2 {
    padding-top: 50px;
}
tr, td, th {
    border: 1px solid #24295f;
    text-align: center;
    padding: 15px;
}

th {
    font-weight: bold;
}
.mobiletimetable {
    display: none;
}

/* Tablet */ 
@media screen and (max-width: 768px) {
    #Classes {
      min-height: 1400px;
}
    .computertimetable {
        display: none;
    }
  
    .mobiletimetable {
    display: inline;
    }
    .weekday {
        display: flex;
        flex-wrap: wrap;   
    }
td, th {
    border: none;
    width: 120px;
    }
    
}
/* Mobile */

@media screen and (max-width: 480px) {
#Classes {
      min-height: 2300px;
}

}





/* Gallery Page */
#Gallery {
    background-color: #eadada;
    padding: 50px 0;
}
#Gallery img {
    height: 250px;
}

/* Tablet */ 
@media screen and (max-width: 768px) {
#Gallery img {
    height: 220px;
}    
}

/* Mobile */

@media screen and (max-width: 480px) {
    #Gallery img {
    height: 200px; 
}
}



/* Contact Page */
#Contact {
    background-color: #24295f;
}
#Contact h3, #Contact p{
    text-align: center;
}
#Contact p {
    color: #e8e9eb
}

#Contact ul{
    display: flex;
}

.media img {
    height: 50px;
    padding: 5px;
}

.flex-footer {
    display: flex;
    padding: 20px 0;
}
.address, .open, .media {
    padding: 15px;
    flex: 1;
}

#googleMap {
    width: 300px;
    height: 300px;
    margin: 10px;
}
.contactForm a {
    text-decoration: none;
    color: #128944;
}
.contactForm {
    padding: 25px;
    text-align: center;
}

/* Tablet */ 
@media screen and (max-width: 768px) {
    #Contact ul{
        flex-direction: column;
    }
    #Contact ul li {
        align-self: center;
        margin-top: 10px;
    }
    .wrapper{
        width: 90%;
    }
}

/* Mobile */

@media screen and (max-width: 480px) {
.flex-footer {
    display: block;
    }
    #Contact ul{
        flex-direction: row;
    }
    #Contact ul li {
        margin: 0 auto;
    }
    #googleMap {
        margin-top: 30px;

    }
}
/*

#anchormenu {
  position: fixed;
  top: 160px;
  right: 50px;
  z-index: 999;
  transition: all ease .3s;
  width: 200px;
  overflow: visible;
}
  
 #anchormenu li {
    transition: all ease 0.3s;
    margin-bottom: 10px;
    overflow: hidden;
    width: 200px;
    float: right;
    clear: both;
}
   #anchormenu li .active 
      .btn {
        color: blue;
        background-color: black;
        box-shadow: none;
      }
   
 #anchormenu li  .active:hover {
      width: 200px;
}
  #anchormenu li .btn {
        color: blue;
        background-color: black;
        box-shadow: none;
      }
  
  #anchormenu .btn {
    border: 0 solid blue;
    border-radius: 50%;
    color: blue;
    background: #c4c4c4;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    padding: 15px 35px;
    transition: all ease 0.3s;
    &:hover {
      color: blue;
      background-color: black;
    }
}

#anchormenu.hide {
  overflow: hidden;
  width: 4px;
  display: block;
}*/